public/api/conf/1.0/schemas/CC305A-v10-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ie="http://ics.dgtaxud.ec/CC305A" xmlns:complex_ics="http://ics.dgtaxud.ec/complex_ics" xmlns:simple_ics="http://ics.dgtaxud.ec/simple_ics" xmlns:tcl_ics="http://ics.dgtaxud.ec/tcl_ics" xmlns:simple="http://ics.dgtaxud.ec/simple" xmlns:tcl="http://ics.dgtaxud.ec/tcl" xmlns:doc="http://ics.dgtaxud.ec/doc" targetNamespace="http://ics.dgtaxud.ec/CC305A" attributeFormDefault="unqualified" elementFormDefault="unqualified" version="36.00">
  <!--=========================================-->
  <!--===== IE305:E_ENS_ARJ  -->
  <!--===== ENTRY SUMMARY DECLARATION AMENDMENT REJECTION  -->
  <!--===== ICS P1 Phase Definition  -->
  <!--===== DDNIA 11.00  -->
  <!--===== XSD version v36.00  -->
  <!--=========================================-->
  <!--===== Imports =====-->
  <xs:import namespace="http://ics.dgtaxud.ec/doc" schemaLocation="doc-v10-0.xsd" />
  <xs:import namespace="http://ics.dgtaxud.ec/complex_ics" schemaLocation="complex_types_ics-v10-0.xsd" />
  <xs:import namespace="http://ics.dgtaxud.ec/simple_ics" schemaLocation="simple_types_ics-v10-0.xsd" />
  <xs:import namespace="http://ics.dgtaxud.ec/tcl_ics" schemaLocation="tcl_ics-v10-0.xsd" />
  <xs:import namespace="http://ics.dgtaxud.ec/simple" schemaLocation="simple_types-v10-0.xsd" />
  <xs:import namespace="http://ics.dgtaxud.ec/tcl" schemaLocation="tcl-v10-0.xsd" />
  <!--===== Root Element =====-->
  <xs:element name="CC305A" type="ie:CC305AType" />
  <!--===== Root Element Content =====-->
  <xs:complexType name="CC305AType">
    <xs:sequence>
      <xs:group ref="ie:MESSAGE" />
      <xs:element name="HEAHEA" type="ie:HEAHEAType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="HEADER" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FUNERRER1" type="ie:FUNERRER1Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="FUNCTIONAL ERROR" />
            <doc:rule name="R123" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRAREP" type="ie:TRAREPType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(REPRESENTATIVE) TRADER" />
            <doc:condition name="C552" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PERLODSUMDEC" type="ie:PERLODSUMDECType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(LODGING SUMMARY DECLARATION) PERSON" />
            <doc:condition name="C552" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CUSOFFFENT730" type="ie:CUSOFFFENT730Type">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(FIRST ENTRY) CUSTOMS OFFICE" />
            <doc:rule name="R814" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== MESSAGE Content =====-->
  <xs:group name="MESSAGE">
    <xs:sequence>
      <xs:element name="MesSenMES3" type="simple:Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Message sender" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesRecMES6" type="simple:Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Message recipient" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DatOfPreMES9" type="simple:DatePrepType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Date of preparation" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TimOfPreMES10" type="simple:TimeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Time of preparation" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PriMES15" type="simple:Alpha_1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Priority" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TesIndMES18" type="tcl:Flag" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Test indicator" />
            <doc:rule name="TR9085" />
            <doc:codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesIdeMES19" type="simple:Alphanumeric_Max14">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Message identification" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesTypMES20" type="tcl:MessageTypes">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Message type" />
            <doc:codeList name="MessageTypes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CorIdeMES25" type="simple:Alphanumeric_Max14" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Correlation identifier" />
            <doc:rule name="TR9181" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <!--===== HEADER =====-->
  <xs:complexType name="HEAHEAType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="HEADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocNumHEA5" type="simple:MRNType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Document/reference number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AmeRejMotCodHEA604" type="simple:Numeric_1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Amendment rejection motivation code" />
            <doc:codeList name="AmendmentRejectionMotivationCode" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AmeRejMotTexHEA605" type="simple:Alphanumeric_Max350" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Amendment rejection motivation text" />
            <doc:condition name="C310" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AmeRejMotTexHEA605LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Amendment rejection motivation text LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DatTimAmeHEA113" type="simple:DateTimeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Date and Time of amendment" />
            <doc:rule name="R660" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AmeRejDatTimHEA112" type="simple:DateTimeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Amendment rejection date and time" />
            <doc:rule name="R660" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== FUNCTIONAL ERROR =====-->
  <xs:complexType name="FUNERRER1Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="FUNCTIONAL ERROR" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ErrTypER11" type="tcl:FunctionalErrorCodes">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Error type" />
            <doc:rule name="R098" />
            <doc:codeList name="FunctionalErrorCodes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ErrPoiER12" type="simple:Alphanumeric_Max210">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Error pointer" />
            <doc:rule name="R098" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ErrReaER13" type="simple:Alphanumeric_Max6" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Error reason" />
            <doc:rule name="R098" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OriAttValER14" type="simple:Alphanumeric_Max140" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Original attribute value" />
            <doc:rule name="R098" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (REPRESENTATIVE) TRADER =====-->
  <xs:complexType name="TRAREPType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(REPRESENTATIVE) TRADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NamTRE1" type="simple:TradNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Name" />
            <doc:condition name="C501" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StrAndNumTRE1" type="simple:StreetNumType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Street and number" />
            <doc:condition name="C501" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PosCodTRE1" type="simple:PostalCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Postal code" />
            <doc:condition name="C501" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CitTRE1" type="simple:CityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="City" />
            <doc:condition name="C501" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouCodTRE1" type="simple:CountryCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country code" />
            <doc:condition name="C501" />
            <doc:codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRAREPLNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="NAD LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TINTRE1" type="simple:TINType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="TIN" />
            <doc:rule name="R837" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (LODGING SUMMARY DECLARATION) PERSON =====-->
  <xs:complexType name="PERLODSUMDECType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(LODGING SUMMARY DECLARATION) PERSON" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NamPLD1" type="simple:TradNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Name" />
            <doc:condition name="C501" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StrAndNumPLD1" type="simple:StreetNumType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Street and number" />
            <doc:condition name="C501" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PosCodPLD1" type="simple:PostalCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Postal code" />
            <doc:condition name="C501" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CitPLD1" type="simple:CityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="City" />
            <doc:condition name="C501" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouCodPLD1" type="simple:CountryCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country code" />
            <doc:condition name="C501" />
            <doc:codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PERLODSUMDECLNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="NAD LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TINPLD1" type="simple:TINType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="TIN" />
            <doc:rule name="R837" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (FIRST ENTRY) CUSTOMS OFFICE =====-->
  <xs:complexType name="CUSOFFFENT730Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(FIRST ENTRY) CUSTOMS OFFICE" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RefNumCUSOFFFENT731" type="simple:CORefNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Reference number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

