public/api/conf/1.0/schemas/CC328A-v10-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ie="http://ics.dgtaxud.ec/CC328A" xmlns:complex_ics="http://ics.dgtaxud.ec/complex_ics" xmlns:simple_ics="http://ics.dgtaxud.ec/simple_ics" xmlns:tcl_ics="http://ics.dgtaxud.ec/tcl_ics" xmlns:simple="http://ics.dgtaxud.ec/simple" xmlns:tcl="http://ics.dgtaxud.ec/tcl" xmlns:doc="http://ics.dgtaxud.ec/doc" targetNamespace="http://ics.dgtaxud.ec/CC328A" attributeFormDefault="unqualified" elementFormDefault="unqualified" version="36.00">
  <!--=========================================-->
  <!--===== IE328:E_ENS_ACK  -->
  <!--===== ENTRY SUMMARY DECLARATION ACKNOWLEDGEMENT  -->
  <!--===== ICS P1 Phase Definition  -->
  <!--===== DDNIA 11.00  -->
  <!--===== XSD version v36.00  -->
  <!--=========================================-->
  <!--===== Imports =====-->
  <xs:import namespace="http://ics.dgtaxud.ec/doc" schemaLocation="doc-v10-0.xsd" />
  <xs:import namespace="http://ics.dgtaxud.ec/complex_ics" schemaLocation="complex_types_ics-v10-0.xsd" />
  <xs:import namespace="http://ics.dgtaxud.ec/simple_ics" schemaLocation="simple_types_ics-v10-0.xsd" />
  <xs:import namespace="http://ics.dgtaxud.ec/tcl_ics" schemaLocation="tcl_ics-v10-0.xsd" />
  <xs:import namespace="http://ics.dgtaxud.ec/simple" schemaLocation="simple_types-v10-0.xsd" />
  <xs:import namespace="http://ics.dgtaxud.ec/tcl" schemaLocation="tcl-v10-0.xsd" />
  <!--===== Root Element =====-->
  <xs:element name="CC328A" type="ie:CC328AType" />
  <!--===== Root Element Content =====-->
  <xs:complexType name="CC328AType">
    <xs:sequence>
      <xs:group ref="ie:MESSAGE" />
      <xs:element name="HEAHEA" type="ie:HEAHEAType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="HEADER" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GOOITEGDS" type="ie:GOOITEGDSType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="GOODS ITEM" />
            <doc:rule name="R134" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CUSOFFLON" type="ie:CUSOFFLONType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(LODGEMENT) CUSTOMS OFFICE" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PERLODSUMDEC" type="ie:PERLODSUMDECType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(LODGING SUMMARY DECLARATION) PERSON" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CUSOFFFENT730" type="ie:CUSOFFFENT730Type">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(FIRST ENTRY) CUSTOMS OFFICE" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRACARENT601" type="ie:TRACARENT601Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(ENTRY CARRIER) TRADER" />
            <doc:rule name="R134" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== MESSAGE Content =====-->
  <xs:group name="MESSAGE">
    <xs:sequence>
      <xs:element name="MesSenMES3" type="simple:Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Message sender" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesRecMES6" type="simple:Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Message recipient" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DatOfPreMES9" type="simple:DatePrepType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Date of preparation" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TimOfPreMES10" type="simple:TimeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Time of preparation" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PriMES15" type="simple:Alpha_1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Priority" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TesIndMES18" type="tcl:Flag" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Test indicator" />
            <doc:rule name="TR9085" />
            <doc:codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesIdeMES19" type="simple:Alphanumeric_Max14">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Message identification" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesTypMES20" type="tcl:MessageTypes">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Message type" />
            <doc:codeList name="MessageTypes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CorIdeMES25" type="simple:Alphanumeric_Max14" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Correlation identifier" />
            <doc:rule name="TR9181" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <!--===== HEADER =====-->
  <xs:complexType name="HEAHEAType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="HEADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RefNumHEA4" type="simple:Alphanumeric_Max22">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Reference number" />
            <doc:rule name="R891" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocNumHEA5" type="simple:MRNType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Document/reference number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TraModAtBorHEA76" type="simple:Numeric_Max2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Transport mode at border" />
            <doc:rule name="R134" />
            <doc:rule name="R826" />
            <doc:codeList name="TransportMode" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NatHEA001" type="simple:CountryCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Nationality" />
            <doc:rule name="R134" />
            <doc:condition name="C024" />
            <doc:codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdeOfMeaOfTraCroHEA85" type="simple:Alphanumeric_Max27" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Identity of means of transport crossing border" />
            <doc:rule name="R134" />
            <doc:condition name="C017" />
            <doc:condition name="C514" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdeOfMeaOfTraCroHEA85LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Identity of means of transport crossing border LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComRefNumHEA" type="simple:Alphanumeric_Max70" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Commercial Reference Number" />
            <doc:rule name="R134" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConRefNumHEA" type="simple:Alphanumeric_Max35" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Conveyance reference number" />
            <doc:rule name="R134" />
            <doc:rule name="R843" />
            <doc:condition name="C518" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecRegDatTimHEA115" type="simple:DateTimeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Declaration registration date and time" />
            <doc:rule name="R660" />
            <doc:rule name="R661" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== GOODS ITEM =====-->
  <xs:complexType name="GOOITEGDSType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="GOODS ITEM" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IteNumGDS7" type="simple:Numeric_Max5">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Item number" />
            <doc:rule name="R005" />
            <doc:rule name="R007" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComRefNumGIM1" type="simple:Alphanumeric_Max70" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Commercial Reference Number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PRODOCDC2" type="ie:PRODOCDC2Type" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="PRODUCED DOCUMENTS/CERTIFICATES" />
            <doc:rule name="R147" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CONNR2" type="ie:CONNR2Type" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="CONTAINERS" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IDEMEATRAGI970" type="ie:IDEMEATRAGI970Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(MEANS OF TRANSPORT AT BORDER) IDENTITY" />
            <doc:condition name="C019" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== PRODUCED DOCUMENTS/CERTIFICATES =====-->
  <xs:complexType name="PRODOCDC2Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="PRODUCED DOCUMENTS/CERTIFICATES" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocTypDC21" type="simple:Alphanumeric_Max4">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Document type" />
            <doc:rule name="R136" />
            <doc:codeList name="DocumentTypeCommon" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocRefDC23" type="simple:Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Document reference" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocRefDCLNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Document reference LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== CONTAINERS =====-->
  <xs:complexType name="CONNR2Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="CONTAINERS" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ConNumNR21" type="simple:Alphanumeric_Max17">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Container number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (MEANS OF TRANSPORT AT BORDER) IDENTITY =====-->
  <xs:complexType name="IDEMEATRAGI970Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(MEANS OF TRANSPORT AT BORDER) IDENTITY" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NatIDEMEATRAGI973" type="simple:CountryCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Nationality" />
            <doc:condition name="C020" />
            <doc:codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdeMeaTraGIMEATRA971" type="simple:Alphanumeric_Max27">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Identity of means of transport crossing border" />
            <doc:condition name="C514" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdeMeaTraGIMEATRA972LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Identity of means of transport crossing border LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (LODGEMENT) CUSTOMS OFFICE =====-->
  <xs:complexType name="CUSOFFLONType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(LODGEMENT) CUSTOMS OFFICE" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RefNumCOL1" type="simple:CORefNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Reference number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (LODGING SUMMARY DECLARATION) PERSON =====-->
  <xs:complexType name="PERLODSUMDECType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(LODGING SUMMARY DECLARATION) PERSON" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NamPLD1" type="simple:TradNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Name" />
            <doc:condition name="C501" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StrAndNumPLD1" type="simple:StreetNumType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Street and number" />
            <doc:condition name="C501" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PosCodPLD1" type="simple:PostalCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Postal code" />
            <doc:condition name="C501" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CitPLD1" type="simple:CityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="City" />
            <doc:condition name="C501" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouCodPLD1" type="simple:CountryCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country code" />
            <doc:condition name="C501" />
            <doc:codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PERLODSUMDECLNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="NAD LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TINPLD1" type="simple:TINType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="TIN" />
            <doc:rule name="R837" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (FIRST ENTRY) CUSTOMS OFFICE =====-->
  <xs:complexType name="CUSOFFFENT730Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(FIRST ENTRY) CUSTOMS OFFICE" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RefNumCUSOFFFENT731" type="simple:CORefNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Reference number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExpDatOfArrFIRENT733" type="simple:DateTimeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Expected date and time of arrival" />
            <doc:rule name="R134" />
            <doc:rule name="R660" />
            <doc:rule name="R666" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (ENTRY CARRIER) TRADER =====-->
  <xs:complexType name="TRACARENT601Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(ENTRY CARRIER) TRADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NamTRACARENT604" type="simple:TradNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Name" />
            <doc:condition name="C501" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StrNumTRACARENT607" type="simple:StreetNumType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Street and number" />
            <doc:condition name="C501" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PstCodTRACARENT606" type="simple:PostalCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Postal code" />
            <doc:condition name="C501" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CtyTRACARENT603" type="simple:CityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="City" />
            <doc:condition name="C501" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouCodTRACARENT605" type="simple:CountryCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country code" />
            <doc:condition name="C501" />
            <doc:codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRACARENT601LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="NAD LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TINTRACARENT602" type="simple:TINType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="TIN" />
            <doc:rule name="R837" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

